/*styles.css*/
:root{
	--primary-purple-50:hsl(260, 100%, 95%);
	--primary-purple-300 : hsl(264, 82%, 80%);
	--primary-purple-500 : hsl(263, 55%, 52%);

	--neutral-white : hsl(0, 0%, 100%);
	--neutral-grey-100:hsl(214, 17%, 92%);
	--neutral-grey-200:hsl(0, 0%, 81%);
	--neutral-grey-400:hsl(224, 10%, 45%);
	--neutral-grey-500:hsl(217, 19%, 35%);
	--neutral-black:hsl(0, 0%, 7%);

	--primary-fs:13px;

	--fw-light : 500;
	--fw-bold : 600;
	--border-radius :0.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--neutral-grey-200);
}

.profile {
	border-radius: 50%;
	border:2px solid var(--primary-purple-300);
}
.cards {
	border-radius: var(--border-radius);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	color: var(--neutral-white);
}
.card-items {
	display: flex;
	gap: 1rem;
	align-items: center;
	align-content: center;
}


.daniel{
	background-color: var(--primary-purple-500);
}

.jonathan {
	background: var(--neutral-grey-500);
}

.patrick{
	background: var(--neutral-black);
}

.kira {
	background: var(--neutral-white);
	color: var(--neutral-black);
}

.jeanette{
	background: var(--neutral-white);
	color: var(--neutral-black);
}

.card-items div:nth-child(2){
	display: flex;
	flex-direction: column;
	font-size: var(--primary-fs);
	gap: 0.2rem;
}

.main{
	padding: 2rem;
	display: grid;
	gap: 1rem;
}

.image-container {
	overflow: hidden;
}

image {
	max-width: 100%;
	display: block;
}

.attribution{
	max-width: 90%;
	margin: 1.5rem auto;
	text-align: center;
}

.attribution a {
	text-decoration: none;
}

@media only screen and (min-width : 768px){
	.main{
		margin: 0 auto;
		max-width: 90%;
		grid-template-areas: 
		"daniel daniel daniel jonathan kira"
		"jeanette patrick patrick patrick kira"
	}

	.daniel {
		grid-area: daniel;
		background: url('./images/bg-pattern-quotation.svg');
		background-repeat: no-repeat;
		background-position: top 10px right 100px;
		background-color: var(--primary-purple-500);
	}

	.jonathan {
		grid-area: jonathan;
	}

	.kira {
		grid-area: kira;
		line-height: 1.3;
		letter-spacing: 1.2;
	}

	.jeanette {
		grid-area:jeanette;
	}
	.patrick {
		grid-area:patrick;
	}


}